<template>
    <div>
        <Header />
        <div v-for="person in people" v-bind:key='person.Id'>
            <Person v-bind:Person="person" />
        </div>
    </div>
</template>

<script>
import Header from './components/Header.vue'
import Person from './components/Person.vue'
import axios from 'axios'

export default {
    name: 'App',
    components: {
        Header,
        Person
    },
    data() {
        return {
            people : [ ]
        }
    },
    created() {
        axios.get('https://jsonplaceholder.typicode.com/users')
            .then( response => {
                    const { data } = response;

                    console.log(data)
                    this.people = data;
                })
            .catch((error) => console.error(error));
    } 
}
</script>

<style>

</style>
