<template>
    <div class="header">
        <h2 @click="greet">
            Vue js app!
        </h2>
    </div>
</template>

<script>
export default {
    name: 'Header',
    methods: {
        greet()
        {
            alert('hello!')
        }
    }
}
</script>

<style>

</style>
