<template>
    <div>
        {{ Person.name }}
        <button @click="showId">x</button>
    </div>
</template>

<script>
export default {
    name: 'Person',
    props: [
        'Person'
    ],
    methods: {
        showId()
        {
            alert(this.Person.id);
        }
    }
}
</script>

<style>

</style>
